html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Happy Monkey', cursive;
    margin:0px;
}
.col{
    padding-left: 0px;
    padding-right: 0px;
}
.container-fluid{
    box-sizing: border-box;
    background-color:transparent;
    margin-left:0px; 
    margin-right: 0px;
    color: #818FAB;
    font-size: 15px;
    padding: 0px;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}
a{
    text-decoration: none;
    color: grey;
}
a:hover{
    text-decoration: none;
}

h3{
    color: white;
    font-size: 2rem;
    padding: 5%
}



.description{
    color: rgb(185, 185, 185);
    font-size: 1.3rem;
    margin-top: 10vh;
}

.map{
    height: 50vh
}
.bg1{
    background-color: rgb(23, 30, 36);
}

.bg2{
    height: 100%;
    background-color: rgba(104,130,158,0.7);
}
.bg3{
    background-color: #505160;
}
.gallery{
    max-height: 100%;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    background-color: transparent;
}

.bg-main{
    position:relative;
    overflow:hidden;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height:50vw;
    min-height:100vh;
    max-height:100vh;
    min-width:100%;
    color:#eee;
    padding: 5px
}
.bg-main::before{
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0) scale(1.0, 1.0);
      transform: translateZ(0);
    background:#1B2030 url(img/japanese-forest-bathing-resized.jpg) top center no-repeat;
    background-size:cover;
    background-attachment:fixed;
    animation: grow 60s  linear 10ms infinite;
    transition:all 0.2s ease-in-out;
    z-index:-2;
    padding: 5px;
}

.bg-lake{
    background-attachment: fixed;
    background-image: url("img/20141005_080147.jpg");
    background-size: auto 130vh;
    background-repeat: no-repeat;
    height: 70vh;
    text-align: center;
}
.bg-winter{
    background-attachment: fixed;
    background-image: url("img/zimalas.jpg");
    background-size: auto 130vh;
    background-repeat: no-repeat;
    height: 70vh;
    text-align: center;
}
.bg-bike{
    background-attachment: fixed;
    background-image: url("img/kaszuby-droga-rower.jpg");
    background-size: auto 130vh;
    background-repeat: no-repeat;
    height: 70vh;
    text-align: center;
}
#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }
  
  #logo{
    height: 8vh;
}

/* FOOTER */

.footer{
    background-color: #1D1E2C;
    height: 10%;
    width: 100%;
    z-index: 2;
    bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    color: grey;
    text-decoration: none;
    text-align: center;
    
}


.div-house{
    height: 100%;
}
#baltic{
    background-attachment: fixed;
    background-image: url("img/baltic_sea.jpg");
    background-size: auto 130vh;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    text-align: center;
    font-size: 5em;
    /* margin-top: 40vh; */
    /* padding: 40vh; */
    color: #F2AB65;
    font-weight: 400;
}
#reach{
    text-align: center;
    font-size:60px !important;
    padding: 40vh;
    color: #F2AB65;
    font-weight: 400;
    position: absolute;
    z-index: 4;
}
#gdansk{
    height:100vh;
    width: 100vw;
}

#fotologo{
    height: 100%;
    width: 100%;
    background-color:#59656F;
    opacity: 0.8;
    margin-left:0px;
}
#mapContainer{
    height: 90vh;
    width:100vw;
    margin-top: 10vh;
}

/*CONTACT*/

.contact{
    height: 100%;
    background-color:#59656F;
    font-size: 2em;
}
#form {
    min-height: 300px;
    bottom: 0px;
}
.formlets-iframe{
    border: 0px;
}

/* NAVBAR */
.bg-nav{
    background-color: rgba(0,123,255,0.4);
}
.nav-hover-bg{
    background-color: #fec400;
}
.navbar-scroll {
    background-color: rgba(0,123,255,0.4);
    transition: top 0.5s;
}

.navbar{
background-color:rgba(34, 34, 34, 0.9);
width: 100%;
margin-left: 0px;
margin-right: 0px;
font-size: 30px;
Transition:0.3s all linear;
}

.navbar-dark{
    margin-left: 0px;
    z-index: 5;
}
.nav-item::after{content:'';display:block;width:0px;height:2px;background:#fec400;transition: 0.2s;}
.nav-item:hover::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#fec400;}
.nav-link{padding:15px 5px;transition:0.2s;}
.dropdown-item.active, .dropdown-item:active{color:#212529;}
.dropdown-item:focus, .dropdown-item:hover{background:#fec400;}


/* SLIDES */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

.item-1, 
.item-2, 
.item-3 {
	position: absolute;
    display: block;
	top: 2em;
    width: 100%;
    margin-top: 10vh;
    padding: 2vh;
  
  font-size: 4em;
  color: white;
	animation-duration: 20s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: 0%; opacity: 0; }
  8.3%,25% { left: 15%; opacity: 1; }
  33.33%, 100% { left: 40%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: 0%; opacity: 0; }
  41.63%, 58.29% { left: 15%; opacity: 1; }
  66.66%, 100% { left: 40%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: 0%; opacity: 0; }
  74.96%, 91.62% { left: 15%; opacity: 1; }
  100% { left: 40%; opacity: 0; }
}

@keyframes grow{
    0% { transform:scale(1)}
    50% { transform:scale(1.2)}
  }


#carouselExampleIndicators{
    height: 100%;
}

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }




/* FONT */

  @font-face {
    font-family: 'Ikaros Sans Regular';
    src: url("Ikaros-Regular.otf");
  
    font-weight: normal;
    font-style: normal;
}

.font{
    font-family: "Ikaros Sans Regular";
    padding-bottom: 10vh;
}